.centered {
  text-align: center;
}

.header {
  font-weight: 700;
}
.author-name {
  display: inline-block;
  width: 40%;
}

.mark-dupe {
  display: inline-block;
  width: 5%;
}
#dupe-popup {
  border: 2px solid #444;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #444;
  padding: 30px;
  text-align: center;
  width: 40%;
  margin: 200px auto;
}

#dupe-popup button {
  margin-right: 5px;
}

#dupe-popup input {
  margin-right: 2em;
}

.blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.book-name {
  display: inline-block;
  width: 40%;
  margin-right: 5%;
}

.author-name:hover,
.book-name:hover {
  font-weight: 500;
}
ul {
  border: 2px solid #444;
  border-radius: 10px;
  margin: 40px;
  padding: 30px;
}

li {
  list-style: none;
  padding: 14px;
}

li:hover {
  cursor: pointer;
}

li:nth-child(odd) {
  background: #ffe4e1;
}
