.centered {
  text-align: center;
}

.header {
  font-weight: 700;
}
.author-name {
  display: inline-block;
  width: 40%;
}

.mark-dupe {
  display: inline-block;
  width: 5%;
}
#dupe-popup {
  width: 500px;
  height: 500px;
  background-color: blueviolet;
}

.book-name {
  display: inline-block;
  width: 40%;
  margin-right: 5%;
}

.author-name:hover,
.book-name:hover {
  font-weight: 500;
}
ul {
  border: 2px solid #444;
  border-radius: 10px;
  margin: 40px;
  padding: 30px;
}

li {
  list-style: none;
  padding: 14px;
}

li:hover {
  cursor: pointer;
}

li:nth-child(odd) {
  background: #ffe4e1;
}
